.banner {
  width: 100%;
  height: auto;
  position: relative;
}

.banner img {
  width: 100%;
  height: auto;
}
.text-box {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 650px;
}
.title {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: #fff;
}

.link {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding: 0.8rem 1.6rem;
  margin-top: 2.5rem;
  display: inline-block;
}
@media screen and (max-width: 900px){
  .banner{
    max-height: 30rem;
    height: 100%;
    overflow: hidden;
  }
  .banner img{
    height: 100%;
    object-fit: cover;
    transform: translateX(-45%);
    width: 182%;
  }
  .title {
    font-size: 3rem;
    margin: 0;
    font-weight: 400;
  }
}

@media screen and (max-width: 700px){
  .title {
    font-size: 2rem;
  }
  .link{
    margin-top: 1.5rem;
  }
}